<div class="">
  <div class="row no-gutters">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 shops-menu">
      <div class="row no-gutters">
        <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
          &nbsp;
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 shop-option">
          <img src="img/locales/Bot-palermosoho.png" ng-click="redirectTo('/locales/palermoSoho')">
          <a target="_blank" href="//www.facebook.com/chupitosbar">
            <span class="icon icon-fb"></span>
          </a>
          <a target="_blank" href="//www.instagram.com/barchupitos">
            <span class="icon icon-insta"></span>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 shop-option">
          <img src="img/locales/Bot-palermoholly.png" ng-click="redirectTo('/locales/palermoHollywood')">
          <a target="_blank" href="//www.facebook.com/chupitosbar">
            <span class="icon icon-fb"></span>
          </a>
          <a target="_blank" href="//www.instagram.com/barchupitos">
            <span class="icon icon-insta"></span>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 shop-option">
          <img src="img/locales/Bot-santelmo.png" ng-click="redirectTo('/locales/sanTelmo')">
          <a target="_blank" href="//www.facebook.com/chupitosantelmo/">
            <span class="icon icon-fb"></span>
          </a>
          <a target="_blank" href="//www.instagram.com/chupitosantelmo">
            <span class="icon icon-insta"></span>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 shop-option">
          <img src="img/locales/Bot-lomas.png" ng-click="redirectTo('/locales/lomas')">
          <a target="_blank" href="//www.facebook.com/chupitoslomas/">
            <span class="icon icon-fb"></span>
          </a>
          <a target="_blank" href="//www.instagram.com/chupitoslomasdz/">
            <span class="icon icon-insta"></span>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 shop-option">
          <img src="img/locales/Bot-puntadeleste.png" ng-click="redirectTo('/locales/punta')">
          <a target="_blank" href="//www.facebook.com/chupitospunta/">
            <span class="icon icon-fb"></span>
          </a>
          <a target="_blank" href="//www.instagram.com/chupitospunta">
            <span class="icon icon-insta"></span>
          </a>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
  </div>
</div>
