<div class="">
    <div class="row no-gutters">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 shops-menu">
            <div class="row no-gutters">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    &nbsp;
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 col-lg-offset-1 col-md-offset-1 shop-option">
                    <img src="img/locales/Bot-palermo.png" ng-click="redirectTo('/locales/palermo')">
                    <a target="_blank" href="//www.facebook.com/chupitosbar">
                        <span class="icon icon-fb"></span>
                    </a>
                    <a target="_blank" href="//www.instagram.com/barchupitos">
                        <span class="icon icon-insta"></span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 shop-option">
                    <img src="img/locales/Bot-laplata.png" ng-click="redirectTo('/locales/laplata')">
                    <a target="_blank" href="//www.instagram.com/chupitoslaplata">
                        <span class="icon icon-insta la-plata"></span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 col-lg-offset-0 col-md-offset-0 col-xs-offset-1 shop-option">
                    <img src="img/locales/Bot-santelmo.png" ng-click="redirectTo('/locales/sanTelmo')">
                    <a target="_blank" href="//www.facebook.com/chupitosantelmo/">
                        <span class="icon icon-fb"></span>
                    </a>
                    <a target="_blank" href="//www.instagram.com/chupitosantelmo">
                        <span class="icon icon-insta"></span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 shop-option">
                    <img src="img/locales/Bot-lomas.png" ng-click="redirectTo('/locales/lomas')">
                    <a target="_blank" href="//www.facebook.com/chupitoslomas/">
                        <span class="icon icon-fb"></span>
                    </a>
                    <a target="_blank" href="//www.instagram.com/chupitoslomasdz/">
                        <span class="icon icon-insta"></span>
                    </a>
                </div>

                <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
</div>
