<div class="back-image concept">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
      <h1 class="title">CONCEPTO</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 center">
      <span class="separador"></span>
      <p class="main-content">
        Chupitos es un concepto nuevo, basado en una experiencia nueva, nunca antes vista en Argentina.
        El bar está especializado en la preparacion de tragos tipo tequila o "chupitos". Cuenta con juegos y atracciones hechas para hacer de la noche un desafío.
        Su carta de cócteles, comida y cerveza te hará elegirlo una y otra vez.
      </p>
      <span class="separador"></span>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
  </div>
</div>
