<div class="back-image contact" ng-controller="contactController">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h1 class="title">CONTACTO</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <span class="separador"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
            <a target="_blank" href="//www.facebook.com/chupitosantelmo/">
                <span class="icon icon-fb"></span>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
            <a target="_blank" href="//www.instagram.com/barchupitos">
                <span class="icon icon-insta"></span>
            </a>
        </div>
    </div>
</div>
