// For Bootstrap
// ----------------------
// This .no-gutters class removes those default margins and paddings.
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;

}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}


//  Styles
// ------------------------
body {
  background-image: url('../img/Fondo-estrellas.png');
  background-size: cover;
}

.back-image {
  background-size: cover;
}

.home {
  background-image: url('../img/contenedores/Home.png');
}

.birthday {
  background-image: url('../img/contenedores/Cumple.png');
}

.contact {
  background-image: url('../img/contenedores/Contacto.png');
}

.concept {
  background-image: url('../img/contenedores/Concepto.png');
}

.barra {
  background-image: url('../img/contenedores/Barra-Movil.png');
}

.home > img {
  width: 70%;
  padding-top: 12%;
}

.shop > img {
  padding-top: 7%;
  width: 75%;
}
