@import (css) '../fonts/icons/icons.css';

.icon {
  font-size: 33px;
  position: relative;
  bottom: 60px;
  cursor: pointer;
  &.icon-fb {
    font-size: 38px;
    left: 2%;
  }
  &.icon-insta {
    right: 5%;
    bottom: 62px;
  }
}

// Media queries
//-----------------------
// XXS queries
@media (max-width: @screen-xxs-max) and (orientation: portrait) {
  .icon {
    font-size: 24px;
    bottom: 42px;
    &.icon-fb {
      font-size: 30px;
      left: 3%;
    }
    &.icon-insta {
      bottom: 45px;
      right: 7%;
    }
  }
}
// XS queries
@media (min-width: @screen-xs) and (max-width: @screen-xs-max) {
  .icon {
    font-size: 42px;
    bottom: 75px;
    &.icon-fb {
      font-size: 54px;
      left: 1%;
    }
    &.icon-insta {
      bottom: 79px;
      right: 4%;
    }
  }
}
// SM queries
@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
  .icon {
    font-size: 18px;
    bottom: 33px;
    &.icon-fb {
      font-size: 23px;
      left: 2%;
    }
    &.icon-insta {
      bottom: 35px;
      right: 6%;
    }
  }
}
// MD queries
@media (min-width: @screen-md) and (max-width: @screen-md-max) {
  .icon {
    font-size: 31px;
    bottom: 54px;
    &.icon-fb {
      font-size: 36px;
      left: 1%;
    }
    &.icon-insta {
      bottom: 56px;
      right: 4%;
    }
  }
}
