// Estilos para la vista de contacto
//------------------------------------

.contact {
    .icon {

        &.icon-fb {
            font-size: 140px;
        }

        &.icon-insta {
            font-size: 110px;
            top: 22px;
        }

    }
}

// Media queries
//-----------------------
// XXS queries
@media (max-width:@screen-xxs-max) and (orientation: portrait) {
    .contact {
        .icon {
            &.icon-fb {
                font-size: 80px;
            }
            &.icon-insta {
                font-size: 70px;
                top: 7px;
            }
        }
    }
}
