// CSS para menu superior
//----------------------------------------
.top-menu {
  display: inline-block;
  text-align: center;
  background-color: #EA2227;
  padding: 1% 10%;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 5;
}

.top-menu p {
  display: inline;
}

.top-menu.open {
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
  transition: height .5s;
}
