.shops-menu {
    position: relative;
    bottom: 140px;
    height: 210px;
    .shop-option {
        height: inherit;
        border-radius: 10px;
        -webkit-transition: all 100ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 100ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 100ms ease-in;
        -moz-transform: scale(1);
        transition: all 100ms ease-in;
        transform: scale(1);
        > img {
            width: 90%;
            cursor: pointer;
        }
        &:hover {
            -webkit-transition: all 200ms ease-in;
            -webkit-transform: scale(1.2);
            -ms-transition: all 200ms ease-in;
            -ms-transform: scale(1.2);
            -moz-transition: all 200ms ease-in;
            -moz-transform: scale(1.2);
            transition: all 200ms ease-in;
            transform: scale(1.2);
        }
        .icon {
            font-size: 33px;
            position: relative;
            bottom: 60px;
            cursor: pointer;
            &.icon-fb {
                font-size: 38px;
                left: 2%;
            }
            &.icon-insta {
                right: 5%;
                bottom: 62px;
                &.la-plata {
                    right: 1%;
                    bottom: 55px;
                }
            }
        }

    }
}

// Media queries
//-----------------------
// XXS queries
@media (max-width:@screen-xxs-max) {
    .shops-menu {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        bottom: 0;
        height: 330px;
        .shop-option {
            height: 160px;
            > img {
                width: 80%;
            }
            .icon {
                font-size: 24px;
                bottom: 42px;
                &.icon-fb {
                    font-size: 30px;
                    left: 3%;
                }
                &.icon-insta {
                    bottom: 45px;
                    right: 7%;
                    &.la-plata {
                        bottom: 37px;
                    }
                }
            }
        }
    }
}

// XS queries
@media (min-width: @screen-xs) and (max-width: @screen-xs-max) {
    .shops-menu {
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        height: 600px;
        .shop-option {
            > img {
                width: 73%;
            }
            .icon {
                font-size: 42px;
                bottom: 75px;
                &.icon-fb {
                    font-size: 54px;
                    left: 1%;
                }
                &.icon-insta {
                    bottom: 79px;
                    right: 4%;
                }
            }
        }
    }
}

// SM queries
@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
    .shops-menu {
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        height: 135px;
        padding-top: 1%;
        .shop-option {
            > img {
                width: 80%;
            }
            .icon {
                font-size: 18px;
                bottom: 33px;
                &.icon-fb {
                    font-size: 23px;
                    left: 2%;
                }
                &.icon-insta {
                    bottom: 35px;
                    right: 6%;
                }
            }
        }
    }
}

// MD queries
@media (min-width: @screen-md) and (max-width: @screen-md-max) {
    .shops-menu {
        bottom: 100px;
        .shop-option {
            > img {
                width: 90%;
            }
            .icon {
                font-size: 31px;
                bottom: 54px;
                &.icon-fb {
                    font-size: 36px;
                    left: 1%;
                }
                &.icon-insta {
                    bottom: 56px;
                    right: 4%;
                }
            }
        }
    }
}
